/* Estilos globales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #1a1a1a; /* Fondo oscuro */
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff; /* Color de texto blanco */
}

header {
    background-color: #2c2c2c; /* Fondo más claro para el header */
    color: #ffffff; /* Color de texto blanco */
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav h1 {
    font-size: 2rem;
    color: white; /* Color amarillo brillante */
}

header ul {
    list-style: none;
}

header ul li {
    display: inline;
    margin-right: 20px;
}

header ul li a {
    color: white; /* Color amarillo brillante */
    text-decoration: none;
}

.hero {
    background-image: url('barberia.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: -1px;
    text-align: center;
}

.hero h2, .hero p {
    font-size: 3rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent; /* Mantener el gradiente en el texto */
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
}

.hero p {
    font-size: 1.5rem;
    margin: 20px 0;
    color: white; /* Color amarillo brillante */
}

.boton {
    background-color: #ff5722; /* Color naranja vivo */
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    width: 150px;
    height: 50px;
    margin: 0 auto;
    text-decoration: none;
    border-radius: 5px;
}

.boton:hover {
    background-color: #e64a19; /* Color naranja más oscuro */
}

.servicios, .sobre-nosotros, .contacto {
    padding: 50px 20px;
    text-align: center;
}

.servicio {
    margin-bottom: 30px;
}

footer * {
    text-align: center;
    padding: 50px 20px;
    background-color: #2c2c2c; /* Fondo más claro para el footer */
    color: white; /* Color de texto blanco */
}

.agendar-turno {
    padding: 50px 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
    background-color: #333; /* Fondo del formulario */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

form label {
    text-align: left;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ffffff;
    background-color: #333;
 }

form input, form select {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #666; /* Borde gris oscuro */
    border-radius: 5px;
    background-color: #444; /* Fondo de campos de entrada */
    color: #ffffff; /* Texto blanco en campos */
}

form input[type="submit"] {
    background-color: #ff5722; /* Color naranja vivo */
    color: white; /* Texto blanco en botón */
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}

form input[type="submit"]:hover {
    background-color: #e64a19; /* Color naranja más oscuro */
}